{{ partial "header.html" . }}
{{ partial "body_top.html" . }}

    <article class="group">
    <h1>{{ .Title }}</h1>

    {{ if isset .Params "due_date" }}
    <p class="page-date">Due by <strong>{{ .Params.due_time }}</strong> on {{ dateFormat "Monday, January 2, 2006" .Params.due_date }}</p>
    {{ else }}
    <p class="page-date">Due by <strong>11:59 PM</strong> on {{ (.Date.AddDate 0 0 -1).Format "Monday, January 2, 2006" }}</p>
    {{ end }}
    
    {{ .Content }}

    </article>

{{ partial "footer.html" . }}
{{ partial "body_bottom.html" . }}
