article .sidenote, article .marginnote {
    margin-bottom: 0.3rem;
}

article .marginnote code, article .sidenote code {
    font-size: inherit;
}

article li {
    width: 100%;
}

article li .sidenote, article li .marginnote {
    margin-right: -55.5%;
}

article ol ol, article ol ul,
article ul ul, article ul ol {
    width: 100%;
}

article ul li ul {
    text-indent: inherit;
}

/* oh hi firefox */
article figure {
    margin-right: 0;
    margin-left: 0;
}

a > code {
    color: inherit;
}

#TOC li {
    margin-top: 0;
}

.wrap li {
    line-height: inherit;
}

.wrap h1 {
    font-size: 2rem;
}

.wrap h2 {
    margin-top: 3rem;
    font-size: 1.75rem;
}

.wrap h3 {
    font-size: 1.35rem;
}

.course-info {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.wrap .table th {
    padding-left: 0.5em;
}

.wrap .table td {
    line-height: 1.2rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.course-name {
    font-family: "ff-basic-gothic-sc-web-pro", sans-serif;
}

ul.footer-links {
    margin-bottom: 1.25rem;
}

.fake-header {
    font-size: 1.2rem;
    font-style: italic;
}

.fake-li {
    font-size: 1rem;
}

.page-date {
    font-style: italic;
    margin-bottom: 2.5rem;
}

img.img50 {max-width: 50%}
img.img75 {max-width: 75%}

@media screen and (max-width: 760px) {
    h1.websitetitle {
        text-align: center;
        line-height: 2.2rem;
    }

    header > nav h1 a {
        padding-right: 0;
        float: inherit;
    }

    header > nav.logo-wrap {
        text-align: center;
        margin-bottom: 2rem;
    }

    header > nav.bottom-group {
        text-align: center;
    }

    header > nav.bottom-group a {
        float: inherit;
    }

    header > nav a.logo {
        float: inherit;
        padding-right: 0;
        padding-top: 0; 
    }

    header > nav a img {
        top: 0;
    }
}
