<link href="/theme/css/tufte.css" rel="stylesheet">
    <link href="/theme/css/latex.css" rel="stylesheet">
    <link href="/theme/css/custom.css" rel="stylesheet">

    {{ "<!--[if lt IE 9]>" | safeHTML }}
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    {{ "<![endif]-->" | safeHTML }}

    {{ partial "css_colors.html" . }}
    {{ partial "favicons.html" . }}
    {{ partial "javascript.html" . }}
    {{ partial "typekit.html" . }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
